In [36]:
#Explore data with pandas and present basic statistics

import requests
import pandas as pd
import csv, re, sys, os
file = '/Users/dariaulybina/Desktop/georgetown/global-economics/additional_data/data_csv/LUR_PT.csv'
df = pd.read_csv(file)
df.head()
df = df.drop('Indicator', axis=1)
df.columns = ['Index','Country','LUR_PT','Year']
df = df.drop('Index', axis=1)
df.LUR_PT = df.LUR_PT.astype(float)
rng = pd.date_range(pd.to_datetime(df.Year[0]), periods=len(df.index), freq='A')
df = df.set_index(pd.DatetimeIndex(rng))
print(df.head(10))
df.describe()

/Users/dariaulybina/anaconda/envs/envr/lib/python3.5/site-packages/pandas/tseries/index.py:506: UserWarning: Discarding nonzero nanoseconds in conversion
  index = _generate_regular_range(start, end, periods, offset)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2262-12-31 00:00:00

In [29]:
#mean unemployment across countries
mean_unempl = df.groupby('Country').mean()
print(mean_unempl.describe())
mean_unempl.head(10)

          LUR_PT         Year
count  97.000000    97.000000
mean    9.030283  2011.534119
std     6.452847     0.875845
min     0.770063  2008.500000
25%     5.372222  2011.500000
50%     7.244444  2011.500000
75%    10.646250  2012.000000
max    42.381810  2015.000000

            LUR_PT    Year
Country
AL       14.657578  2011.5
AM       17.759375  2011.5
AN       10.000000  2008.5
AR        7.563886  2011.0
AT        5.155556  2012.0
AU        5.424367  2012.0
AZ        5.396262  2011.5
BA       42.381810  2010.0
BB       10.803429  2011.0
BD             NaN     NaN

In [20]:
df.groupby('Year').count()

         Country  LUR_PT
Year
2008          90      90
2009          93      93
2010          89      89
2011          88      88
2012          86      86
2013          85      85
2014          84      84
2015          78      78
2016          42      42
missing        5       5

In [21]:
df.groupby('Country').count()

         LUR_PT  Year
Country
AL            8     8
AM            8     8
AN            2     2
AR            7     7
AT            9     9
AU            9     9
AZ            8     8
BA            5     5
BB            7     7
BD            1     1
BE            9     9
BG            8     8
BH            2     2
BN            4     4
BO            6     6
BR            8     8
BS            4     4
BY            9     9
BZ            5     5
CA            9     9
CH            9     9
CI            1     1
CL            8     8
CN            8     8
CO            8     8
CR            8     8
CY            9     9
CZ            9     9
DE            9     9
DK            9     9
...         ...   ...
NZ            9     9
PA            8     8
PE            9     9
PH            9     9
PK            6     6
PL            8     8
PS            8     8
PT            9     9
PY            6     6
RO            9     9
RU            9     9
SB            1     1
SE            9     9
SG            8     8
SI            9     9
SK            9     9
SM            5     5
SR            1     1
SV            2     2
SY            4     4
TH            9     9
TN            7     7
TR            9     9
TT            6     6
UA            8     8
US            9     9
UY            8     8
VE            8     8
VN            4     4
ZA            9     9

[102 rows x 2 columns]

In [22]:
df.Country.isnull().sum()
df['Country'].value_counts(dropna=False).head(1)

0

In [24]:
# use pandas to get the median age
#df.median()['LUR_PT']
df.LUR_PT.median()

TypeError: could not convert string to float: 'missing'